<div class="container">
    <div class="page-header">
        <span> Report Writer Templates</span>
    </div>

    <div *ngIf="taskRun">
        <p>
            <ngb-alert [type]="'success'" *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">
                <div [innerHTML]="displayMessage"></div>

                <div>
                    <a href="#" routerLink="/reportTask" class="alert-link">Click here to go the All Report Tasks Page</a>.
                </div>
            </ngb-alert>
        </p>
    </div>
    <br>

    <div class="ui-widget-header row">

        <div class="col-sm-6">
            <div class="input-group ">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
                <input #gb type="text" pInputText size="50" placeholder="Global Filter" [(ngModel)]="globalFilter" class="form-control" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="pull-right paginationCount">{{pageinationcount}}</div>
        </div>
    </div>
    <div class="ui-widget-header row">
        <div class="col-sm-6">
            <button type="button" (click)="runTemplates()" pButton label="Run Template/Templates"></button>
        </div>
    </div>
    <p-dataTable #dtTemplate [value]="templates" [(selection)]="selectedTemplates" (onRowSelect)="onRowSelect($event)" (onPage)="onPageChange($event)" [responsive]="true" [headerCheckboxToggleAllPages]="true" (onFilter)="onFilter($event)" [rows]="20" [paginator]="true"
        [alwaysShowPaginator]="true" [totalRecords]="2" [pageLinks]="3" [globalFilter]="gb" [rowsPerPageOptions]="[10,20,50]">
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column field="id" styleClass="col-button" header="Action">
            <ng-template let-templateRow="rowData" pTemplate="body">
                <button type="button" pButton [routerLink]="['/createTemplate', templateRow.id]" icon="fa-pencil-square-o"></button>
                <button type="button" pButton [routerLink]="['/reportTemplateView', templateRow.id]" icon="fa-eye"></button>
                <button type="button" *ngIf="templateRow.status == 'Active'" pButton (click)="runTemplate(templateRow)" label="Run"></button>
            </ng-template>
        </p-column>
        <p-column field="id" [style]="{'width':'55px'}" header="Id" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column>
        <p-column field="name" header="Name" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column>
        <!-- <p-column field="status" header="Status" [filter]="true" [style]="{'width':'10%'}" filterPlaceholder="Search" filterMatchMode="contains"></p-column>
         <p-column field="status" [style]="{'width':'100%'}" header="Status" [filter]="true" filterMatchMode="equals">
            <ng-template pTemplate="filter" let-col>
                <p-dropdown [options]="statuses" [style]="{'width':'100%'}" (onChange)="dtTemplate.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
            </ng-template>
        </p-column>-->
        <p-column field="status" header="Status" [filter]="true" filterMatchMode="equals" [style]="{'width':'10%'}">
            <ng-template pTemplate="filter" let-col>
                <p-dropdown [options]="statuses" [(ngModel)]="selectedStatus" [style]="{'width':'100%'}" (onChange)="dtTemplate.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
            </ng-template>
        </p-column>

        <p-column field="dateCreated" header="Date Created" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column>
        <p-column field="dateLastUpdated" header="Date Last Updated" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains">

        </p-column>
    </p-dataTable>
</div>