.gradle/*
build/*
setenv.sh
.classpath
*/.classpath
.gradle/*
**/.gradle/*
.project
.settings/*
*/.settings/*
build/
*.log
core/bin/main
web/bin
.idea
/report.html
/reportJava.html
**/dist
**/node_modules
**/.angular
/.gradle/
/report-docker.html
/trivy_image_report.json
