<div class="container">
    <br>
    <br>
    <div class="page-header">Report Writer</div>
    The NCI EVS Report Writer 2 is a web-based application that has been developed as a replacement to the current legacy EVS Report Writer. The new application provides all the essential functionality that they legacy program provided but utilizes a triplestore
    back end instead of LexEVS terminology server that the original Report Writer used. It creates template, it runs the template and produces reports in various formats.
</div>