#
# Spring Properties
#
spring:
    #
    # Application Properties
    #
    application:
        name: reportwriter-api 
    #
    # Data Source Properties
    #
    datasource:
        driverClassName: com.mysql.jdbc.Driver
        url: ${RW_API_DATASOURCE_URL:jdbc:mysql://localhost/rw}
        username: ${RW_API_DATASOURCE_USERNAME:root}
        password: ${RW_API_DATASOURCE_PASSWORD:root}
        tomcat:
            initialSize: 10
            maxActive: 10
            maxIdle: 10
            validationQuery: SELECT 1 FROM DUAL
            testOnBorrow: true
            testWhileIdle: true
            timeBetweenEvictionRunsMillis: 10000
            minEvictableIdleTimeMillis: 60000
    data:
        rest:
          basePath: ${RW_API_BASE_PATH:/reportwriter/api}
          defaultMediaType: application/json;charset=UTF-8
    #
    # JSON Formatting Properties
    #
    jackson:
        serialization:
            INDENT_OUTPUT: true
    #
    # JPA Properties
    #
    jpa:
        show-sql: ${RW_API_JPA_SHOW_SQL:false}
        hibernate:
            use-new-id-generator-mappings: true
#
# Server Properties
#
server:
    port: ${RW_API_SERVER_PORT:8080}
    context-path: ${RW_CONTEXT_PATH:/ncreportwriter}

#
# Management Properties
#
management:
    contextPath: /admin

#
# Endpoint Properties
#
endpoints:
    mappings:
        enabled: true

#
# Logging Properties
#
logging:
    level:
        org.springframework: ${LOGGING_LEVEL_ORG_SPRINGFRAMEWORK:INFO}
        org.springframework.boot: ${LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_BOOT:WARN}
        org.springframework.data.jpa: ${LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_DATA_JPA:WARN}
        org.springframework.data.rest: ${LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_DATA_REST:WARN}
        gov.nih.nci.evs.reportwriter: ${LOGGING_LEVEL_GOV_NIH_NCI_EVS_RW:INFO}
gov:
  nih:
    nci:
      evs:
       reportwriter:
         core:
           templateDirectory: ${RW_TEMPLATE_DIRECTORY:/tmp/templates}
           outputDirectory: ${RW_OUTPUT_DIRECTORY:/tmp/output}
         stardog:
           url: ${STARDOG_URL:http://localhost:5820/NCIT2}
           monthlyQueryUrl: ${STARDOG_MONTHLY_QUERY_URL:http://localhost:5820/NCIT2/query}
           monthlyGraphName: ${STARDOG_MONTHLY_GRAPH_NAME:http://NCI_T}
           weeklyQueryUrl: ${STARDOG_WEEKLY_QUERY_URL:http://localhost:5820/NCIT2/query}
           weeklyGraphName: ${STARDOG_WEEKLY_GRAPH_NAME:http://NCI_T}
           username: ${STARDOG_USERNAME:admin}
           password: ${STARDOG_PASSWORD:admin}     
           readTimeout: ${STARDOG_READ_TIMEOUT:10000}
           connectTimeout: ${STARDOG_CONNECT_TIMEOUT:10000}            
         web:
           defaultUsername: ${RW_DEFAULT_USERNAME:system}
           
             
