.ui-dropdown {
    display: inline-block;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 34px;
    padding: 2px 8px;
    background-color: #ffffff;
}

.form-horizontal>.ui-dropdown {
    height: 34px !important;
    padding: 2px 8px !important;
}


/* .ui-dropdown .ui-dropdown-label {
    display: block;
    border: 0;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
    width: 100%;
    padding-right: 1.5em;
    height: 32px;
    padding-top: 5px;
    padding-left: 0px;
    border-top: 1px solid #dddddd;
} */


/* .ui-dropdown>label {
    display: inline;
} */

.ui-column-filter.ui-inputtext {
    vertical-align: middle;
    padding: 3px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
}

.ui-column-filter.ui-dropdown {
    height: auto !important;
    padding: 0px !important;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
}

.ui-dropdown:hover {
    background-color: #ffffff !important;
}

.ui-dropdown .ui-dropdown-trigger {
    padding: .25em .25em;
}

.ui-widget-header {
    border: none;
    background-color: #ffffff !important;
    background: none;
    margin-bottom: 5px;
}

.paginationCount {
    padding: 7px 0px;
}

.ui-paginator {
    margin-top: 3px;
    text-align: right;
}

.ui-paginator-page {
    background: #ffffff !important;
    border: 1px solid #ccc !important;
    color: #000000 !important;
    opacity: 1;
}

.ui-paginator-first,
.ui-paginator-prev,
.ui-paginator-next,
.ui-paginator-last {
    color: #dddddd;
    opacity: 1;
    border: 1px solid #ccc;
}

.ui-sortable-column.ui-state-active {
    background-color: #ebedf0 !important;
    color: #555555 !important;
}

.ui-sortable-column.ui-state-active>.ui-sortable-column-icon {
    color: #186ba0;
}

.paginationCount {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px;
}

.ui-dialog-titlebar {
    font-weight: bold;
    padding: 12px 10px;
    color: #337ab7;
    border-bottom: 1px solid #ccc !important;
}

.ui-pbutton-link {
    border: .5px solid #2399e5;
    color: #FFFFFF !important;
    background: #2399e5;
    transition: background-color .2s;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 3px;
    margin-top: 1px;
    margin-right: 1px;
}

.ui-button-icon-only .ui-button-icon-left {
    top: 50%;
    left: 50%;
    margin-top: -.5em;
    margin-left: -.5em;
    width: 1em;
    height: 1em;
    border-radius: 3px;
    margin-right: 5px;
}

.ui-table .ui-table-tbody>tr>td {
    -ms-word-break: break-all;
    word-break: break-all;
    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    vertical-align: top;
}

.ui-table-tbody .ui-chkbox {
    pointer-events: none;
}

.ui-table .ui-table-thead>tr>th,
.ui-table .ui-table-tfoot>tr>td {
    background-color: #f6f7f9;
    border: 1px solid #d9d9d9;
    color: #1b1d1f;
    font-weight: lighter;
}